<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
  crossorigin="anonymous"
/>

<div>
 <nav class="navbar navbar-expand-lg d-flex justify-content-between">
  <a class="navbar-brand nav-font" href="#">Amortization Calculator</a>
  <a class="navbar-brand nav-font" [routerLink]="['/client']"><i class="fas fa-home mr-2"></i>Home</a>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
</div>